name: Build QtRpi Docker images

on: push

env:  
  QTRPI_TARGET_HOST: pi@localhost

jobs:
  prepare-sysroot:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Initialize directory structure
      run: ./utils/init-common.sh
    - name: Download Raspbian image
      run: ./utils/download-raspbian.sh
    - name: Build sysroot
      run: ./utils/prepare-sysroot-full.sh
    - name: Create minimal sysroot variant
      run: ./utils/prepare-sysroot-minimal.sh
    - name: Pack minimal sysroot
      run: tar -czf sysroot-minimal.tar.gz /opt/qtrpi/raspbian/sysroot-minimal/ 
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with: 
        name: sysroot-minimal
        path: ./sysroot-minimal.tar.gz

  build-qtrpi:
    runs-on: ubuntu-latest
    needs: prepare-sysroot
    env:
      # QTRPI_QT_VERSION: '5.12.7'
      # QTRPI_TARGET_DEVICE: linux-rasp-pi3-g++
      # QTRPI_TARGET_HOST: pi@localhost
      QTRPI_QT_VERSION: '5.6.2'
      QTRPI_TARGET_DEVICE: linux-rpi3-g++
    steps:
    - name: Install dependencies
      run: sudo apt-get update -q && sudo apt-get install -yq --no-install-recommends build-essential gdb-multiarch qemu-user-static
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Initialize directory structure
      run: ./utils/init-common.sh
    - name: Download sysroot
      uses: actions/download-artifact@v1
      with:
        name: sysroot-minimal
        path: ./
    - name: Unpack sysroot
      run: tar -xzf sysroot-minimal.tar.gz -C / 
    - name: Create symlink for sysroot
      run: ./utils/switch-sysroot.sh minimal
    - name: Download Toolchain
      run: ./utils/synchronize-toolchain.sh
    - name: Download Qt sources
      run: ./utils/synchronize-qt-modules.sh
    - name: Crosscompile Qt
      run: ./utils/compile-qt-modules.sh --clean-output --clean-modules-repo    
    - name: Pack Qt binaries
      run: tar -czf qt-binaries.tar.gz /opt/qtrpi/raspi/qt5/ /opt/qtrpi/raspi/qt5pi/ 
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: qt-binaries
        path: ./qt-binaries.tar.gz

  build-docker:
    runs-on: ubuntu-latest
    needs: build-qtrpi
    env:
      # QTRPI_QT_VERSION: '5.12.7'
      # QTRPI_TARGET_DEVICE: linux-rasp-pi3-g++
      # QTRPI_TARGET_HOST: pi@localhost
      QTRPI_QT_VERSION: '5.6.2'
      QTRPI_TARGET_DEVICE: linux-rpi3-g++
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Download sysroot
      uses: actions/download-artifact@v1
      with:
        name: sysroot-minimal
        path: ./
    - name: Download Qt binaries
      uses: actions/download-artifact@v1
      with:
        name: qt-binaries
        path: ./
    